[submodule "src/interbotix_ros_core"]
	path = src/interbotix_ros_core
	url = git@github.com:BCLab-UNM/interbotix_ros_core.git
	branch = humble
[submodule "src/interbotix_ros_manipulators"]
	path = src/interbotix_ros_manipulators
	url = git@github.com:BCLab-UNM/interbotix_ros_manipulators.git
	branch = humble
[submodule "src/interbotix_ros_toolboxes"]
	path = src/interbotix_ros_toolboxes
	url = git@github.com:BCLab-UNM/interbotix_ros_toolboxes.git
	branch = humble
[submodule "src/motion_capture_tracking"]
	path = src/motion_capture_tracking
	url = git@github.com:BCLab-UNM/motion_capture_tracking.git
	branch = ros2
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = git@github.com:BCLab-UNM/realsense-ros.git
[submodule "src/hector_multi_robot_tools"]
	path = src/hector_multi_robot_tools
	url = git@github.com:BCLab-UNM/hector_multi_robot_tools.git
